.setting-modal {
  &.game-popup .ant-modal-body {
    padding-top: calc(12px + 98px) !important;
  }

  &.game-popup .ant-modal-header {
    display: none !important;
  }

  &__content {
    padding-top: 0;
  }

  &__stat {
    color: #000 !important;

    strong {
      color: #000 !important;
    }
  }
}