.help-modal {
  &.game-popup .ant-modal-body {
    padding: calc(12px + 76px) calc(28px + 16px) calc(28px + 16px) !important;
  }

  &.game-popup .ant-modal-header {
    display: none !important;
  }

  &__content {
    padding-top: 0;

    h4 {
      color: #000 !important;
    }

    p {
      color: #000 !important;
      opacity: 1 !important;
    }
  }
}